HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.mvn/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.pem

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
/secret
### VS Code ###
.vscode/
#certs
*.p12
mvnw
mvnw.*
